body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right,rgb(255, 0, 0),rgb(255, 251, 0));
}
.albums {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}